<footer>
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary" routerLink="inicio">
                        Sobre
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary" routerLink="inicio">
                        <img src="../../assets/img/footer-logo.jpg" alt="Logo da Hypnix">
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary" routerLink="inicio">
                        Produtos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary" routerLink="inicio">
                        Contato
                    </a>
                </li>
            </ul>

            <p class="text-center text-body-secondary">© Desenvolvido por Claudio, 2024</p>
        </footer>
    </div>
</footer>