<section id="section-form" class="flip-container">
  <div class="flip-container">
    <div class="flipper" [class.flipped]="flipped">

      <div class="front">

        <form id="form-login" class="row g-3 login-form" (ngSubmit)="fazerLogin()">

          <h2>Login</h2>

          <label for="staticUsuarioLogin" class="visually-hidden">Usuário</label>
          <input type="email" class="form-control" name="usuario" id="staticUsuarioLogin"
            placeholder="email@dominio.com" required [(ngModel)]="usuarioLogin">
          <br>

          <label for="inputPassword2" class="visually-hidden">Senha</label>
          <input type="password" class="form-control" name="senha" id="inputPassword2" placeholder="Senha" required
            [(ngModel)]="senhaLogin">
          <br>

          <button type="submit" id="btn_submit_login" class="btn btn-primary mb-3">Entrar</button>

          <button type="button" (click)="toggleFlip()" class="btn btn-danger mb-3">Ir para Cadastro</button>
        </form>
      </div>

      <div class="back">

        <form id="form-cadastro" class="row g-3 cadastro-form" (ngSubmit)="cadastrar()">

          <h2>Cadastro</h2>

          <label for="staticUsuarioCadastro" class="visually-hidden">Usuário</label>
          <input type="email" class="form-control" name="usuario" id="staticUsuarioCadastro"
            placeholder="email@dominio.com" required [(ngModel)]="usuarioCadastro">

          <br>

          <label for="inputPasswordCadastro" class="visually-hidden">Senha</label>
          <input type="password" class="form-control" name="senha" id="inputPasswordCadastro" placeholder="Senha"
            required [(ngModel)]="senhaCadastro">

          <br>

          <button type="submit" id="btn_submit_cadastro" class="btn btn-primary mb-3">Cadastrar</button>
          <button type="button" (click)="toggleFlip()" class="btn btn-danger mb-3">Ir para Login</button>
        </form>
      </div>
    </div>
  </div>
</section>