main { min-height: 500px; }

#section-banner img,
video {
    min-height: 250px;
    width: 100%;
}

.img-promo { max-height: 810px; }

.example-card { max-width: 400px; }

.carousel-item h3 {
    font-size: 32px;
    font-weight: bold;
}

.carousel-item p { font-size: 16px; }

.preco-antigo {
    color: red;
    text-decoration: line-through;
}

#section-products {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.section-header {
    align-items: center;
    display: flex;
    font-weight: 700;
    justify-content: space-around;
}

.section-header button {
    align-items: center;
    color: #006494;
    display: flex;
    font-size: 16px;
    gap: 8px;
    background: none;
    border: none;
    justify-content: space-between;
    text-decoration: none;
}

.section-header p { margin: 0; }

#video-desc { color: white; }

#section-products .section-header { padding: 50px 0 50px 0; }

.products_list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 24px;
    justify-content: space-evenly;
    gap: 50px;
}

mat-card-title{ color: #006494; }

mat-card { background-color: #F2F3F4; }

mat-card img{
    height: 300px;
    width: 300px;
}

mat-card-actions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

mat-card-actions p, h2{
    color: #006494;
    font-size: 32px;
}

@media screen and (min-width: 600px) {
    .products_list { margin: 0 10%; }
}


@media screen and (min-width: 1440px) {
    .img-promo { max-height: 1600px; }
}