<main>
    <section id="section-banner">

        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">

                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">

                <div class="carousel-item active">

                    <img src="../../assets/img/banner1.jpg" class="d-block w-100" alt="Banner com imagem detalhes em tons de azul e roxa bem futurística">
                </div>

                <div class="carousel-item">

                    <img src="../../assets/img/banner2.jpeg" class="d-block w-100" alt="Promoção de um jogo">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>EA FC 24</h3>
                        <p>Jogo em promoção: de <strong class="preco-antigo">R$ 321,00</strong> por <strong>R$
                                1850,00</strong>.</p>
                    </div>
                </div>

                <div class="carousel-item">

                    <img src="../../assets/img/banner3.png" class="d-block w-100 img-promo" alt="Promoção do mês">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>PS4(console e controle) + jogos + 3 meses de PS Plus</h3>
                        <p>Promoção do mês: de <strong class="preco-antigo">R$ 2899,99</strong> por <strong>R$
                                1850,00</strong>.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="9100">

                    <video preload="auto" muted autoplay loop playsinline webkit-playsinline poster="../../assets/img/banner4.jpg">
                        <source type="video/mp4" src="https://gmedia.playstation.com/is/content/SIEPDC/global_pdc/en/games/pdps/l/la/the-last-of-us-part-ii/videos/the-last-of-us-part-ii-live-video-block-01-ps4-us-23sep19.mp4">
                    </video>
                    

                    <div class="carousel-caption d-none d-md-block">
                        <h3 id="video-desc">The last of us part II</h3>
                        <p id="video-desc">Este é o jogo do ano</p>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section id="section-products">
        <h2>Produtos</h2>
            <div class="products_list">

                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Xícara SW</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/img/caneca_st.png" alt="Imagem do produto">
                    <mat-card-content>
                        <br>
                    </mat-card-content>
                    <mat-card-actions>
                        <p>R$ 300,00</p>
                        <button type="button" class="btn btn-outline-primary">Comprar</button>
                    </mat-card-actions>
                </mat-card>
            
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Nintendo Switch</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/img/nintendo_switch.png" alt="Imagem do produto">
                    <mat-card-content>
                        <br>
                    </mat-card-content>
                    <mat-card-actions>
                        <p>R$ 300,00</p>
                        <button type="button" class="btn btn-outline-primary">Comprar</button>
                    </mat-card-actions>
                </mat-card>
            
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Xbox Series S</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/img/xbox_series_s.png" alt="Imagem do produto">
                    <mat-card-content>
                        <br>
                    </mat-card-content>
                    <mat-card-actions>
                        <p>R$ 300,00</p>
                        <button type="button" class="btn btn-outline-primary">Comprar</button>
                    </mat-card-actions>
                </mat-card>
            
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Playstation 5</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/img/console.png" alt="Imagem do produto">
                    <mat-card-content>
                        <br>
                    </mat-card-content>
                    <mat-card-actions>
                        <p>R$ 300,00</p>
                        <button type="button" class="btn btn-outline-primary">Comprar</button>
                    </mat-card-actions>
                </mat-card>

                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Óculos VR</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/img/oculosvr.png" alt="Imagem do produto">
                    <mat-card-content>
                        <br>
                    </mat-card-content>
                    <mat-card-actions>
                        <p>R$ 300,00</p>
                        <button type="button" class="btn btn-outline-primary">Comprar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
    </section>
</main>