<main>
    <section id="section-banner">

        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">

                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">

                <div class="carousel-item active">

                    <img src="./assets/img/banner1.jpg" class="d-block w-100"
                        alt="Banner com imagem detalhes em tons de azul e roxa bem futurística">
                </div>

                <div class="carousel-item">

                    <img src="./assets/img/banner2.jpeg" class="d-block w-100" alt="Promoção de um jogo">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>EA FC 24</h3>
                        <p>Jogo em promoção: de <strong class="preco-antigo">R$ 321,00</strong> por <strong>R$
                                1850,00</strong>.</p>
                    </div>
                </div>

                <div class="carousel-item">

                    <img src="./assets/img/banner3.png" class="d-block w-100 img-promo" alt="Promoção do mês">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>PS4(console e controle) + jogos + 3 meses de PS Plus</h3>
                        <p>Promoção do mês: de <strong class="preco-antigo">R$ 2899,99</strong> por <strong>R$
                                1850,00</strong>.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="9100">

                    <video preload="auto" muted autoplay loop playsinline webkit-playsinline
                        poster="./assets/img/banner4.jpg">
                        <source type="video/mp4"
                            src="https://gmedia.playstation.com/is/content/SIEPDC/global_pdc/en/games/pdps/l/la/the-last-of-us-part-ii/videos/the-last-of-us-part-ii-live-video-block-01-ps4-us-23sep19.mp4">
                    </video>


                    <div class="carousel-caption d-none d-md-block">
                        <h3 id="video-desc">The last of us part II</h3>
                        <p id="video-desc">Este é o jogo do ano</p>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section id="section-products">
        <div class="section-header">
            <h2>Produtos</h2>
            <button *ngIf="!showAll" (click)="verTudo()">
                <p>Ver tudo</p>
                <img src="./assets/img/header-arrow.svg" alt="Flecha que redireciona para ver todos os produtos">
            </button>
        </div>
        <div class="products_list">
            <mat-card class="mat-mdc-card mdc-card example-card" *ngFor="let produto of produtos | slice:0:(showAll ? produtos.length : 5)">
                <mat-card-header class="mat-mdc-card-header">
                    <div class="mat-mdc-card-header-text">
                        <mat-card-title class="mat-mdc-card-title">{{produto.produto}}</mat-card-title>
                    </div>
                </mat-card-header>
                <img mat-card-image="" src="{{produto.foto}}" alt="Imagem do produto"
                    class="mat-mdc-card-image mdc-card__media">

                <mat-card-content class="mat-mdc-card-content">
                    <br>
                </mat-card-content>
                <mat-card-actions class="mat-mdc-card-actions mdc-card__actions">
                    <p>{{produto.preco | currency : 'BRL'}}</p>
                    <button type="button" class="btn btn-outline-primary">Comprar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </section>
</main>